<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="spring.application.name" source="spring.application.name"/>

    <!-- 控制台输出 -->
    <appender name="std" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger[%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 文件输出 -->
    <!--<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<File>/data/logs/${spring.application.name}/${spring.application.name}.log</File>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<FileNamePattern>/data/logs/${spring.application.name}/${spring.application.name}-%d{yyyy-MM-dd-HH}.log</FileNamePattern>-->
            <!--<MaxHistory>168</MaxHistory>-->
        <!--</rollingPolicy>-->
        <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
            <!--<pattern>%d [%thread] %-5level %logger[%M:%L] - %msg%n</pattern>-->
        <!--</layout>-->
    <!--</appender>-->


    <!-- 测试环境 -->
    <springProfile name="test">
        <logger name="com.github" additivity="false" level="debug">
            <appender-ref ref="std"/>
            <!--<appender-ref ref="file"/>-->
        </logger>
        <root level="info">
            <appender-ref ref="std" />
            <!--<appender-ref ref="file"/>-->
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <logger name="com.github" additivity="false" level="debug">
            <appender-ref ref="std"/>
            <!--<appender-ref ref="file"/>-->
        </logger>
        <root level="error">
            <appender-ref ref="std" />
            <!--<appender-ref ref="file"/>-->
        </root>
    </springProfile>

    <!-- 开发环境 -->
    <springProfile name="dev">
        <logger name="com.github" additivity="false" level="debug">
            <appender-ref ref="std"/>
        </logger>
        <root level="info">
            <appender-ref ref="std" />
        </root>
    </springProfile>


</configuration>