<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.dtkavin.dao.FlinkBizJobMapper">

    <select id="findBizJobById" parameterType="long" resultType="com.github.dtkavin.entity.FlinkBizJobM">
      select * from rt_scm_biz_job where job_id= #{a}
    </select>
</mapper>